{% extends "admin/adminLayout.twig" %}

{# head #}
{% block title %}
    Administration du blog
{% endblock %}

{# body #}
{% block headerTitle %}
    <h1>Administration du blog</h1>
{% endblock %}

{% block content %}
    <section id="blog-admin">

        {% include "message.twig" %}

        {# Posts#}
        <div class="admin-box w100">
            <h2>Articles</h2>

            {% if 'author' in roles %}
                <p>
                    <a class="btn" href="/admin/post-editor">Ajouter un article</a>
                </p>
            {% endif %}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Etiquettes</th>
                        <th scope="col">Catégories</th>
                        <th scope="col">Commentaires</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Dernière modification</th>
                    </tr>
                </thead>

                <tbody>
                {% for post in posts %}
                    <tr>
                        <td scope="row">
                            {% if 'author' in roles and post.getAuthorId is same as(connectedMember.getId) or 'editor' in roles %}
                                <form action="/admin/post-editor" method="post">
                                    <input type="hidden" name="post-id" value="{{ post.getId }}">
                                    <input class="admin-link" type="submit" value="{{ post.getTitle }}">
                                </form>
                            {% else %}
                                <span>{{ post.getTitle }}</span>
                            {% endif %}
                        </td>
                        <td scope="row">
                            {{ post.getAuthorName }}
                        </td>
                        <td scope="row">
                            {% set postTags = post.getTags %}
                            {% if postTags %}
                                {% for tag in postTags %}
                                    <span class="table-tag">#{{ tag.getName }}</span>
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td scope="row">
                            {% set postCategories = post.getCategories %}
                            {% if postCategories %}
                                {% for category in postCategories %}
                                    {{ category.getName }}
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td scope="row">
                            coming soon...
                        </td>
                        <td scope="row">
                            <span class="table-date">{{ post.getCreationDate }}</span>
                        </td>
                        <td scope="row">
                            {% if post.getLastModificationDate %}
                            <span class="table-date">Le {{ post.getLastModificationDate }} par {{ post.getEditorName }}</span>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Etiquettes</th>
                        <th scope="col">Catégories</th>
                        <th scope="col">Commentaires</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Dernière modification</th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <hr>

        {% if 'editor' in roles %}
        {# Categories #}
        <div class="admin-box">
            <h2>Catégories</h2>

            {# Add a category button #}
            <p>
                <a class="btn" href="/admin/category-editor">Ajouter une catégorie</a>
            </p>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Catégorie</th>
                        <th>Etiquettes associées</th>
                    </tr>
                </thead>

                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>
                            <form action="/admin/category-editor" method="post">
                                <input type="hidden" name="category-id" value="{{ category.getId() }}">
                                <input class="available-category admin-link" type="submit" value="{{ category.getName() }}">
                            </form>
                        </td>
                        <td>
                            {% set categoryTags = category.getTags() %}
                            {% if categoryTags %}
                                {% for tag in categoryTags %}
                                    <span class="table-tag">#{{ tag.getName }}</span>
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <hr>

        {# Tags #}
        <div class="admin-box">
            <h2>#Etiquettes</h2>

            <form id="admin-tag-list-form" action="/admin/update-tags" method="post">
                <p>
                    {# Update list button #}
                        <div>
                            <input id="update-tag-list-btn" class="btn" type="submit" value="Mettre à jour la liste des étiquettes">
                        </div>
                        {# Cancel button #}
                        <div>
                            <button class="btn cancel-button" type="button" onclick="window.location = '/admin';">Annuler</button>
                        </div>
                </p>

                <ul id="tag-list">
                    {% for tag in tags %}
                        <li>
                            <input type="hidden" name="tag_ids[]" value="{{ tag.getId() }}">
                            <span>#</span>
                            <input class="available-tag text-center admin-tag underline-input" type="text" name="tag_names[]" value="{{ tag.getName() }}" onkeyup="myApp.refreshValue(event); myBlogAdmin.highlightIncorrectTags();">
                            <span class="btn sign-btn-small" onclick="myApp.eraseTool.eraseElementFromEvent(event)">🗑</span>
                        </li>
                    {% endfor %}

                    <li id="new-tag-input-li">
                        <span>#</span>
                        <input id="new-tag-input" class="underline-input" type="text" name="new-tag-input" placeholder="Nouvelle étiquette" onkeydown="myBlogAdmin.addTagOnEnter(event);">
                        <button type="button" id="new-tag-btn" class="btn sign-btn">+</button>
                    </li>
                </ul>
            </form>
        </div>
        {% endif %}

    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        myBlogAdmin.setTagEventListeners();
    </script>
{% endblock %}