{% extends 'admin/adminLayout.twig' %}

{# head #}
{% block title %}
    {% if postToEdit %}
        Edition de {{ postToEdit.getTitle }}
    {% else %}
        Ecrire un article
    {% endif %}
{% endblock %}

{# body #}
{% block headerTitle %}
    <h1>Editeur d'article</h1>
{% endblock %}

{% block content %}
    <section class="blog-admin">
        {% include "message.twig" %}

        <div>
            {# Cancel button #}
            <div>
                <button class="btn cancel-button" type="button" onclick="window.location = '/admin';">Annuler</button>
            </div>

            {% if postToEdit %}
                {# Delete post button #}
                <div>
                    <form action="/admin/delete-post" method="post">
                        <input type="hidden" name="delete-post" value="{{ postToEdit.getId }}">
                        <p>
                            <input class="btn" type="submit" value="Supprimer l'article">
                        </p>
                    </form>
                </div>
            {% endif %}
        </div>

        <div>
            {% if postToEdit %}
            <form action="/admin/edit-post" method="post">
                <input type="hidden" name="edit-post" value="{{ postToEdit.getId }}">
                <input type="hidden" name="post-editor-id" value="{{ connectedMember.getId }}">
                <input type="hidden" name="post-author-id" value="{{ postToEdit.getAuthorId }}">
            {% else %}
            <form action="/admin/add-post" method="post">
                <input type="hidden" name="post-author-id" value="{{ connectedMember.getId }}">
            {% endif %}

                <!-- Visible fields-->
                <p>
                    <input class="btn" type="submit" value="Publier l'article">
                </p>
                {# Post title #}
                <p>
                    <label for="post-title">Titre de l'article</label><br>
                    <input class="admin-input w100" type="text" name="post-title" id="post-title" value="{{ postToEdit.getTitle }}">
                </p>
                {# Post excerpt #}
                <p>
                    <label for="post-excerpt">Extrait de l'article (ou chapo)</label><br>
                    <textarea class="admin-textarea w100" name="post-excerpt" id="post-excerpt" cols="30" rows="5">{{ postToEdit.getExcerpt }}</textarea>
                </p>
                {# Post content #}
                <p>
                    <label for="post-content">Contenu de l'article</label><br>
                    <textarea class="admin-textarea w100" name="post-content" id="post-content" cols="30" rows="30">{{ postToEdit.getContent }}</textarea>
                </p>

                {# Tags #}
                {% include "admin/tagHandler.twig" %}
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/tagHandler.js"></script>
    <script>
        myTagHandler.setTagEventListeners();
    </script>
    {% if editor is same as('CKEditor') %}
        {# CKEditor #}
        <script src="https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>
        <script>
            ClassicEditor
                .create( document.querySelector( '#post-content' ) )
                .catch( error => {
                    console.error( error );
                } );
        </script>
    {% elseif editor is same as('TinyMCE') %}
        {# TinyMCE #}
        <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
        <script>tinymce.init({ selector:'#post-content' });</script>
    {% endif %}
{% endblock %}


