{% extends "layout.twig" %}

{% block title %}
    Blog
{% endblock %}

{% block header %}
    <h1>{{ category.getName }}</h1>
{% endblock %}

{% block content %}
    <section class="blog-list">
        {% if posts is empty %}
            <p>
                Il n'y a aucun article pour l'instant.
            </p>

        {% else %}

            {% for post in posts %}
                <article class="post-wrapper">
                    <h3 class="post-title"><a href="/blog-post?post-id={{ post.getId }}&amp;category-id={{ category.getId }}">{{ post.getTitle }}</a></h3>

                    <div class="post-info">{{ post.getCreationDate }}</div>
                    <div class="post-excerpt">{{ post.getExcerpt }}</div>
                </article>
            {% endfor %}

        {% endif %}
    </section>
{% endblock %}