{% extends "layout.twig" %}

{% block title %}
    {{ post.getTitle }}
{% endblock %}

{% block headerTitle %}
    <h1>{{ category.getName }}</h1>
{% endblock %}

{% block content %}
    <section class="blogpost">

        <h2 class="blogpost-title">{{ post.getTitle }}</h2>

        {# Tags #}
        {% if post.getTags() %}
            <div class="blogpost-tags">
                Etiquettes :
                {% for tag in post.getTags() %}
                    {{ tag.getName() }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="blogpost-content">
            {{ post.getContent }}
        </div>

        <div class="blogpost-info">
            {{ post.getCreationDate }}
        </div>

        <div class="blogpost-navigation">
            <ul>
                {% if previousPostId %}
                    <li><a href="/blog-post?post-id={{ previousPostId }}&amp;category-id={{ category.getId }}">Article précédent</a></li>
                {% endif %}

                <li><a href="/blog?category-id={{ category.getId }}">Revenir à la liste des articles</a></li>

                {% if nextPostId %}
                    <li><a href="/blog-post?post-id={{ nextPostId }}&amp;category-id={{ category.getId }}">Article suivant</a></li>
                {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}