{% extends "layout.twig" %}

{% block title %}
    {{ post.getTitle }}
{% endblock %}

{% block header %}
    <h1>Gestion des articles</h1>
{% endblock %}

{% block content %}
    <section id="blog-admin">
        <div class="admin-box">
            <h2>Articles</h2>

            <p>
                <a class="btn" href="?page=post-editor">Ajouter un article</a>
            </p>

            {% include "blog/message.twig" %}

            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Etiquettes</th>
                        <th>Commentaires</th>
                        <th>Date de création</th>
                    </tr>
                </thead>

                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>
                            <form action="?page=post-editor" method="post">
                                <input type="hidden" name="post-id" value="{{ post.getId }}">
                                <input class="admin-blogpost-title" type="submit" value="{{ post.getTitle }}">
                            </form>
                        </td>
                        <td>
                            coming soon...
                        </td>
                        <td>
                            coming soon...
                        </td>
                        <td>
                            coming soon...
                        </td>
                        <td>
                            {{ post.getCreationDate }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

                <tfoot>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Etiquettes</th>
                    <th>Commentaires</th>
                    <th>Date de création</th>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="admin-box">
            <h2>Etiquettes</h2>

            <form action="?page=blog-admin" method="post">
                <ul>
                    {% for tag in tags %}
                        <li>
                            <input class="admin-tag" type="text" value="{{ tag.getName() }}"><span class="closing-cross" onclick="eraseElementFromEvent(event)">X</span>
                        </li>
                    {% endfor %}

                    <li>
                        <form action="?page=blog-admin&action=add-tag" method="post">
                            <input class="admin-tag" type="text" name="new-tag" placeholder="Ajouter une nouvelle étiquette">
                            <input class="btn btn-small" type="submit" value="Ajouter">
                        </form>
                    </li>
                </ul>
                <input class="btn" type="submit" value="Mettre à jour la liste des étiquettes">
            </form>
        </div>

    </section>
{% endblock %}

{% block footer %}
    {% include "blog/adminFooter.twig" %}
    <script src="public/js/erase.js"></script>
{% endblock %}