{% extends "layout.twig" %}

{% block title %}
    {{ post.getTitle }}
{% endblock %}

{% block headerTitle %}
    <div class="post-heading">
        <h1>{{ post.getTitle }}</h1>
        <h2 class="subheading">{{ post.getExcerpt }}</h2>
        <span class="meta">Ecrit par <a href="#">TODO: insert author name here</a> le {{ post.getCreationDate }}</span>
    </div>
{% endblock %}

{% block content %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    {# Classification #}
                    <div class="blogpost-classification">
                        {# Category #}
                        <p>
                            Catégorie <a href="/blog?category-id={{ category.getId }}">{{ category.getName }}</a>
                        </p>
                        {# Tags #}
                        <p>
                            {% for tag in post.getTags %}
                                <a href="/blog?tag-id={{ tag.getId }}">#{{ tag.getName }}</a>
                            {% endfor %}
                        </p>
                    </div>

                    <div class="blogpost-content">
                        {{ post.getContent|raw }}
                    </div>

                    <div class="blogpost-navigation">
                        <ul>
                            {% if previousPostId %}
                                <li><a href="/blog-post?post-id={{ previousPostId }}&amp;category-id={{ category.getId }}">Article précédent</a></li>
                            {% endif %}

                            <li><a href="/blog?category-id={{ category.getId }}">Revenir au sommaire de la catégorie {{ category.getName }}</a></li>

                            {% if nextPostId %}
                                <li><a href="/blog-post?post-id={{ nextPostId }}&amp;category-id={{ category.getId }}">Article suivant</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}