{% extends "layout.twig" %}

{% block title %}
    {{ category.getName }}
{% endblock %}

{% block headerTitle %}
    <div class="page-heading">
        <h1>{{ category.getName }}</h1>
        <h2 class="subheading">Liste des articles</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

            {% if posts is empty %}
                <p>
                    Il n'y a aucun article pour l'instant.
                </p>

            {% else %}

                {% for post in posts %}
                    <div class="post-preview">
                        <a href="/blog-post?post-id={{ post.getId }}&amp;category-id={{ category.getId }}">
                            <h2 class="post-title">
                                {{ post.getTitle }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.getExcerpt }}
                            </h3>
                        </a>
                        <p class="post-meta">
                            Ecrit par <a href="/member-profile?id={{ post.getAuthorId }}">{{ post.getAuthorName }}</a> le {{ post.getCreationDate }}
                        </p>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Articles précédents &rarr;</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}