{% extends "layout.twig" %}

{% block title %}
    {{ category.getName }}
{% endblock %}

{% block headerTitle %}
    <div class="page-heading">
        <h1>{{ category.getName }}</h1>
        <h2 class="subheading">Liste des articles</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {% if posts is empty %}
                    <p>
                        Il n'y a aucun article pour l'instant.
                    </p>

                {% else %}

                    {% for post in posts %}
                        <div class="post-preview">
                            <a href="/blog-post?post-id={{ post.getId }}&amp;category-id={{ category.getId }}">
                                <h2 class="post-title">
                                    {{ post.getTitle }}
                                </h2>
                            </a>
                            <p class="post-subtitle">
                                {{ post.getExcerpt|raw }}
                            </p>
                            <a class="btn btn-small float-right" href="/blog-post?post-id={{ post.getId }}&amp;category-id={{ category.getId }}">Lire l'article</a>
                            <p class="post-meta">
                            {% include 'blog/postMeta.twig' %}
                            </p>
                        </div>
                        <hr>
                    {% endfor %}
                {% endif %}

                {% if nextPage or previousPage %}
                    <div class="row mx-0">
                        {% if currentPage %}
                            <div class="col-12">
                                {{ currentPage }} / {{ pagesCount }}
                            </div>
                        {% endif %}
                        {% if previousPage %}
                            <a class="col-12 col-lg-5 my-2 btn btn-primary" href="/blog?category-id={{ category.getId }}&amp;page={{ previousPage }}">Articles suivants</a>
                        {% endif %}
                        {% if previousPage and nextPage %}
                            <span class="offset-lg-2"></span>
                        {% endif %}
                        {% if nextPage %}
                            <a class="col-12 col-lg-5 my-2 btn btn-primary" href="/blog?category-id={{ category.getId }}&amp;page={{ nextPage }}">Articles précédents</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}