{% extends "blog/admin.twig" %}

{# head #}
{% block title %}
    Administration du blog
{% endblock %}

{# body #}
{% block headerTitle %}
    <h1>Administration du blog</h1>
{% endblock %}

{% block content %}
    <section id="blog-admin">

        {% include "blog/message.twig" %}

        {# Posts#}
        <div class="admin-box w100">
            <h2>Articles</h2>

            <p>
                <a class="btn" href="/admin/post-editor">Ajouter un article</a>
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Etiquettes</th>
                        <th>Catégories</th>
                        <th>Commentaires</th>
                        <th>Date de création</th>
                    </tr>
                </thead>

                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>
                            <form action="/admin/post-editor" method="post">
                                <input type="hidden" name="post-id" value="{{ post.getId }}">
                                <input class="admin-link" type="submit" value="{{ post.getTitle }}">
                            </form>
                        </td>
                        <td>
                            coming soon...
                        </td>
                        <td>
                            {% set postTags = post.getTags %}
                            {% if postTags %}
                                {% for tag in postTags %}
                                    #{{ tag.getName }}
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% set postCategories = post.getCategories %}
                            {% if postCategories %}
                                {% for category in postCategories %}
                                    {{ category.getName }}
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            coming soon...
                        </td>
                        <td>
                            {{ post.getCreationDate }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Etiquettes</th>
                        <th>Catégories</th>
                        <th>Commentaires</th>
                        <th>Date de création</th>
                    </tr>
                </tfoot>
            </table>
        </div>

        {# Categories #}
        <div class="admin-box">
            <h2>Catégories</h2>

            {# Add a category button #}
            <p>
                <a class="btn" href="/admin/category-editor">Ajouter une catégorie</a>
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Catégorie</th>
                        <th>Etiquettes associées</th>
                    </tr>
                </thead>

                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>
                            <form action="/admin/category-editor" method="post">
                                <input type="hidden" name="category-id" value="{{ category.getId() }}">
                                <input class="available-category admin-link" type="submit" value="{{ category.getName() }}">
                            </form>
                        </td>
                        <td>
                            {% set categoryTags = category.getTags() %}
                            {% if categoryTags %}
                                {% for tag in categoryTags %}
                                    {{ tag.getName }}
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {# Tags #}
        <div class="admin-box">
            <h2>Etiquettes</h2>

            <form id="admin-tag-list-form" action="/admin/update-tags" method="post">
                <p>
                    <input id="update-tag-list-btn" class="btn" type="submit" value="Mettre à jour la liste des étiquettes">
                </p>

                <ul id="tag-list">
                    {% for tag in tags %}
                        <li>
                            <input type="hidden" name="tag_ids[]" value="{{ tag.getId() }}">
                            <input class="available-tag text-center admin-link" type="text" name="tag_names[]" value="{{ tag.getName() }}" onkeyup="myApp.refreshValue(event); highlightIncorrectTags();">
                            <span class="btn sign-btn" onclick="myApp.eraseTool.eraseElementFromEvent(event)">🗑</span>
                        </li>
                    {% endfor %}

                    <li id="new-tag-input-li">
                        <input id="new-tag-input" type="text" name="new-tag-input" placeholder="Nouvelle étiquette" onkeydown="addTagOnEnter(event);">
                        <button type="button" id="new-tag-btn" class="btn sign-btn">+</button>
                    </li>
                </ul>
            </form>
        </div>
    </section>
{% endblock %}