{% extends "layout.twig" %}

{% block title %}
    {{ post.getTitle }}
{% endblock %}

{% block headerTitle %}
    <div class="post-heading">
        <h1>{{ post.getTitle }}</h1>
        <h2 class="subheading">{{ post.getExcerpt }}</h2>
        <span class="meta">Ecrit par <a href="#">TODO: insert author name here</a> le {{ post.getCreationDate }}</span>
    </div>
{% endblock %}

{% block content %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    {# Classification #}
                    {% include 'blog/blogpostClassification.twig' %}

                    <div class="blogpost-content">
                        {{ post.getContent|raw }}
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}