{% extends 'blog/admin.twig' %}

{# head #}
{% block title %}
    {% if categoryToEdit %}
        Edition de {{ categoryToEdit.getName }}
    {% else %}
        Créer une catégorie
    {% endif %}
{% endblock %}

{# body #}
{% block headerTitle %}
    <h1>Editeur de catégorie</h1>
{% endblock %}

{% block content %}
    <section class="blog-admin">
        {% include "blog/message.twig" %}

        {# Delete button #}
        {% if categoryToEdit %}
            <div>
                <form action="/admin/delete-category" method="post">
                    <input type="hidden" name="delete-category" value="{{ categoryToEdit.getId }}">
                    <p>
                        <input class="btn" type="submit" value="Supprimer la catégorie">
                    </p>
                </form>
            </div>
        {% endif %}

        <div>
            {% if categoryToEdit %}
            <form action="/admin/edit-category" method="post">
                <input type="hidden" name="edit-category" value="{{ categoryToEdit.getId }}">
            {% else %}
            <form action="/admin/add-category" method="post">
            {% endif %}

                <!-- Visible fields-->
                <p>
                    <input class="btn" type="submit" value="Enregistrer">
                </p>

                {# Category name #}
                <p>
                    <label for="category-name">Nom de la catégorie</label><br>
                    <input class="admin-input" type="text" name="category-name" id="category-name" value="{{ categoryToEdit.getName }}">
                </p>

                {# Tags #}
                {% include "blog/tagHandler.twig" %}
            </form>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script src="/js/tagHandler.js"></script>
{% endblock %}



