{% extends 'layout.twig' %}

{% block title %}
    {% if postToEdit %}
        {{ postToEdit.getTitle }}
    {% else %}
        Ecrire un article
    {% endif %}
{% endblock %}

{% block header %}
    <h1>Editeur d'articles</h1>
{% endblock %}

{% block content %}
    <section class="blog-admin">
        {% include "blog/message.twig" %}

        {% if postToEdit %}
            <div>
                <form action="?page=blog-admin" method="post">
                    <input type="hidden" name="delete-post" value="{{ postToEdit.getId }}">
                    <p>
                        <input class="btn" type="submit" value="Supprimer l'article">
                    </p>
                </form>
            </div>
        {% endif %}

        <div>
            <form action="?page=blog-admin" method="post">
                <!-- Hidden fields -->
                {% if postToEdit %}
                    <input type="hidden" name="edit-post" value="{{ postToEdit.getId }}">
                    <input type="hidden" name="post-editor-id" value="59"><!-- TODO put the true editor id here -->

                {% else %}
                    <input type="hidden" name="add-post">
                {% endif %}
                
                <input type="hidden" name="post-author-id" value="58"><!-- TODO put the true author id here -->

                <!-- Visible fields-->
                <p>
                    <input class="btn" type="submit" value="Publier l'article">
                </p>
                {# Post title #}
                <p>
                    <label for="post-title">Titre de l'article</label><br>
                    <input class="admin-input w100" type="text" name="post-title" id="post-title" value="{{ postToEdit.getTitle }}">
                </p>
                {# Post excerpt #}
                <p>
                    <label for="post-excerpt">Extrait de l'article (ou chapo)</label><br>
                    <textarea class="admin-textarea w100" name="post-excerpt" id="post-excerpt" cols="30" rows="5">{{ postToEdit.getExcerpt }}</textarea>
                </p>
                {# Post content #}
                <p>
                    <label for="post-content">Contenu de l'article</label><br>
                    <textarea class="admin-textarea w100" name="post-content" id="post-content" cols="30" rows="30">{{ postToEdit.getContent }}</textarea>
                </p>

                {# Tags #}
                <div id="post-tags-wrapper">
                    <h3>Etiquettes</h3>

                    <div class="post-editor-box" id="available-tags-wrapper">
                        <ul id="available-tags">
                            {% if availableTags %}
                                {% for tag in availableTags %}
                                    <li>
                                        <input type="checkbox" name="tags[]" value="{{ tag }}" {% if tag in selectedTags %}checked{% endif %}>
                                        <label class="available-tag" for="{{ tag }}">{{ tag }}</label>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>

                    {# New tag #}
                    <div class="post-editor-box" id="new-tag-wrapper">
                        <label for="new-tag">Créer une étiquette</label><br>
                        <input class="tag-input" type="text" id="new-tag">
                        <button class="btn" id="new-tag-btn">+</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include "blog/adminFooter.twig" %}
    <script src="public/js/tagHandler.js"></script>
{% endblock %}



