{% extends "layout.twig" %}

{% block title %}
    #{{ tag.getName }}
{% endblock %}

{% block headerTitle %}
    <div class="page-heading">
        <h1>#{{ tag.getName }}</h1>
        <h2 class="subheading">Liste des articles</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {% if posts is empty %}
                    <p>
                        Il n'y a aucun article pour cette étiquette.
                    </p>

                {% else %}

                    {% for post in posts %}
                        <div class="post-preview">
                            <a href="/blog-post?post-id={{ post.getId }}">
                                <h2 class="post-title">
                                    {{ post.getTitle }}
                                </h2>
                                <p class="post-subtitle">
                                    {{ post.getExcerpt|raw }}
                                </p>
                            </a>
                            <p class="post-meta">
                            {% include 'blog/postMeta.twig' %}
                            </p>
                        </div>
                        <hr>
                    {% endfor %}
                {% endif %}

                {% if nextPage or previousPage %}
                    <div class="row">
                        {% if previousPage %}
                            <a class="col-4 btn btn-primary" href="/blog/tag?tag-id={{ tag.getId }}&amp;page={{ previousPage }}">Articles suivants</a>
                            <div class="col-4"></div>
                        {% endif %}
                        {% if nextPage %}
                            <a class="col-4 btn btn-primary" href="/blog/tag?tag-id={{ tag.getId }}&amp;page={{ nextPage }}">Articles précédents</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}