{% macro translateRole(word) %}

    {% if word is same as('member') %}
        {{ 'Membre' }}
    {% elseif word is same as('author') %}
        {{ 'Auteur' }}
    {% elseif word is same as('editor') %}
        {{ 'Editeur' }}
    {% elseif word is same as('moderator') %}
        {{ 'Modérateur' }}
    {% elseif word is same as('admin') %}
        {{ 'Administrateur' }}
    {% else %}
        {{ word }}
    {% endif %}
{% endmacro %}

{% macro showAComment(comment, connectedMember) %}

    {% import _self as macros %}
    {% if comment.isApproved %}
        <dt class="comment-info-wrapper">
            <div>
                <a href="/member-profile?id={{ comment.getAuthorId }}">{{ comment.getAuthor }}</a> <span class="comment-info">le {{ comment.getCreationDate }}</span>
            </div>
        </dt>
        <dd>
            <div>
                {{ comment.getContent|striptags('<a>') }}
            </div>
            {% if connectedMember %}
                <div class="comment-response-wrapper">
                    <button type="button" class="btn btn-small" onclick="myCommentForm.showForm(event, {{ connectedMember.getId }}, {{ comment.getId }}, {{ comment.getPostId }});">Répondre</button>
                </div>
            {% endif %}

            {% if comment.getChildren %}
                <dl>
                    {% for child in comment.getChildren %}
                        {{ macros.showAComment(child, connectedMember) }}
                    {% endfor %}
                </dl>
            {% endif %}
        </dd>
    {% endif %}
{% endmacro %}

{% macro checkPostCategory(category, postCategories) %}

    {% for postCategory in postCategories %}
        {% if postCategory.getName is same as(category.getName) %}
            checked
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro getPostEditorUrl(postId) %}

    {% set postEditorUrl = getCurrentUrl() %}
    {% if postId %}
        {% set postEditorUrl = postEditorUrl ~ "?post-id=" ~ postId %}
    {% endif %}
    {{ postEditorUrl }}
{% endmacro %}

{% macro showPagingButtons(currentPage, pagesCount, previousUrl, nextUrl) %}

    {% if pagesCount > 1 %}
        <div class="col-12 row mx-0">
            <div class="col-12 mb-2">
                {{ currentPage }} / {{ pagesCount }}
            </div>
            {% if currentPage > 1 %}
                <div class="col-12 my-2">
                    <a class="btn btn-secondary btn-sm" href="{{ previousUrl|raw }}">Page précédente</a>
                </div>
            {% endif %}
            {% if currentPage < pagesCount %}
                <div class="col-12 my-2">
                    <a class="btn btn-secondary btn-sm" href="{{ nextUrl|raw }}">Page suivante</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}