{% extends "member/memberLayout.twig" %}

{# head #}

{% block title %}
    Profil de {{ member.getName }}
{% endblock %}

{# body #}

{% block headerTitle %}
    <div class="site-heading">
        <h1>Profil de {{ member.getName }}</h1>
    </div>
{% endblock %}

{% block content %}
    <section id="profile">

        {# Edit button #}
        {% if connectedMember and connectedMember.getEmail is same as(member.getEmail) %}
            <div>
                <a href="/profile-editor">Modifier mon profil</a>
            </div>
        {% endif %}

        {# Roles #}
        <div>
            <p>
                {% for role in member.getRoles %}
                    {{ role }}
                {% endfor %}
            </p>
        </div>

        {# Name #}
        <div>
            <p>
                {{ member.getName }}
            </p>
            <p>
                {{ member.getDescription }}
            </p>
            {% set websites = member.getWebsites %}
            {% if websites %}
                <ul>
                    {% for website in websites %}
                        <li>
                            <a href="{{ website.getUrl }}">{{ website.getName }}</a> {{ website.getDescription }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
{% endblock %}