{% extends "member/memberLayout.twig" %}

{% import 'macros.twig' as macros %}

{# head #}

{% block title %}
    Profil de {{ member.getName }}
{% endblock %}

{# body #}

{% block headerTitle %}
    <div class="site-heading">
        <h1>Profil de {{ member.getName }}</h1>
    </div>
{% endblock %}

{% block content %}
    <section id="profile">

        {# Edit button #}
        {% if connectedMember and connectedMember.getEmail is same as(member.getEmail) %}
            <div>
                <a class="btn btn-primary" href="/profile-editor">Modifier mon profil</a>
            </div>
        {% elseif connectedMember and 'admin' in connectedMember.getRoles %}
            <div>
                <a href="/profile-editor?id={{ member.getId }}">Modifier le profil</a>
            </div>
        {% endif %}

        {# Roles #}
        <div>
            <dl>
                <dt>Roles</dt>
                <dd>
                    {% if member.getRoles %}
                        {% for role in member.getRoles %}
                            {{ macros.translateRole(role) }}<br>
                        {% endfor %}
                    {% else %}
                        {{ "Vos rôles ont été suspendus." }}
                    {% endif %}
                </dd>
            </dl>
        </div>

        {# Informations #}
        <div>
            <dl>
                <dt>Nom et email</dt>
                <dd>
                    {{ member.getName }}<br>
                    <a href="mailto:{{ member.getEmail }}">{{ member.getEmail }}</a>
                </dd>
            </dl>
            {% if member.getDescription %}
                <dl>
                    <dt>Description</dt>
                    <dd>
                        {{ member.getDescription }}
                    </dd>
                </dl>
            {% endif %}
        </div>
    </section>
{% endblock %}