{% extends "member/memberLayout.twig" %}

{% import 'macros.twig' as macros %}

{# head #}

{% block title %}
    Profil de {{ member.getName }}
{% endblock %}

{# body #}

{% block headerTitle %}
    <div class="site-heading">
        <h1>Profil de {{ member.getName }}</h1>
    </div>
{% endblock %}

{% block content %}
    <section id="profile">
        <div>
            <h3>Profil</h3>

            {# Edit button #}
            {% if getUser() and getUser().getEmail is same as(member.getEmail) %}
                <div>
                    <a class="btn btn-primary" href="/profile-editor">Modifier mon profil</a>
                </div>
            {% elseif getUser() and 'admin' in getUser().getRoles %}
                <div>
                    <a class="btn btn-primary" href="/profile-editor?id={{ member.getId }}">Modifier le profil</a>
                </div>
            {% endif %}

            {# Roles #}
            <div>
                <dl>
                    <dt>Roles</dt>
                    <dd>
                        {% if member.getRoles %}
                            {% for role in member.getRoles %}
                                {{ macros.translateRole(role) }}<br>
                            {% endfor %}
                        {% else %}
                            {{ "Vos rôles ont été suspendus." }}
                        {% endif %}
                    </dd>
                </dl>
            </div>

            {# Informations #}
            <div>
                <dl>
                    <dt>Nom et email</dt>
                    <dd>
                        {{ member.getName }}<br>
                        <a href="mailto:{{ member.getEmail }}">{{ member.getEmail }}</a>
                    </dd>
                </dl>
                {% if member.getDescription %}
                    <dl>
                        <dt>Description</dt>
                        <dd>
                            {{ member.getDescription }}
                        </dd>
                    </dl>
                {% endif %}
            </div>
        </div>

        {# Posts #}
        {% if memberPosts %}
            <div>
                <h3>Articles</h3>

                <p>
                    Nombre d'articles publiés : {{ memberPosts|length }}
                </p>

                <ul>
                {% for post in memberPosts %}
                    <li>
                        <a href="/blog-post?post-id={{ post.getId }}">{{ post.getTitle }}</a>
                        {% for tag in post.getTags %}<a class="classification" href="/blog/tag?tag-id={{ tag.getId }}">#{{ tag.getName }}</a> {% endfor %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {# Comments #}
        {% if memberComments %}
            <div>
                <h3>Commentaires</h3>

                <p>
                    Nombre de commentaires publiés : {{ memberComments|length }}
                </p>

                <ul>
                    {% for comment in memberComments %}
                        <li>
                            <dl>
                                <dt>Le {{ comment.getCreationDate }} <a class="btn btn-small" href="/blog-post?post-id={{ comment.getPostId }}">Voir l'article</a></dt>
                                <dd>{{ comment.getContent }}</dd>
                            </dl>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </section>
{% endblock %}